In [10]:
import pandas as pd
from src.BinaryClassifier import *  # Don't worry it's safe

# Create autoclassificator object
aml = AutoBinaryClassifier([SVM, DECISIONTREE, RANDOMFOREST, LOGREG, KNN, NAIVEBAYES])

# Read data
X = pd.read_csv("dataset/X.csv", dtype={"Sex": "object", "Pclass": "object"})

# Train all initiated models and list scores
aml.train_all_models(data=X, target_column="Survived", metric="F1")

                     Model        F1
0  Support Vector Machines  0.728477
1            Decision Tree  0.690476
2            Random Forest  0.693333
3      Logistic Regression  0.714286
4                      KNN  0.697368
5              Naive Bayes  0.710526

In [11]:
aml.models_ranking()

                     Model        F1
0  Support Vector Machines  0.728477
1      Logistic Regression  0.714286
2              Naive Bayes  0.710526
3                      KNN  0.697368
4            Random Forest  0.693333
5            Decision Tree  0.690476

In [12]:
# predictions from best estimator
aml.best_predict(X.drop(columns=['Survived']), inverse_transform=False)[:20]

array([0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1])

In [5]:
# predictions from best estimator (original labels)
aml.best_predict(X.drop(columns=['Survived']), inverse_transform=True)[:20]

array(['died', 'survived', 'survived', 'survived', 'died', 'died', 'died',
       'died', 'survived', 'survived', 'survived', 'survived', 'died',
       'died', 'survived', 'survived', 'died', 'died', 'survived',
       'survived'], dtype=object)

In [7]:
# list feature importance (tree-type)
aml.feature_importance(fi_type='tree')

                  Features  Feature Importance
0           numerical__Age            0.345200
1         numerical__SibSp            0.093103
2         numerical__Parch            0.048539
3    categorical__Pclass_1            0.037692
4    categorical__Pclass_2            0.003801
5    categorical__Pclass_3            0.081613
6  categorical__Sex_female            0.000000
7    categorical__Sex_male            0.390053

In [9]:
# list feature importance (logreg-type)
aml.feature_importance(fi_type='logreg')

                  Features  Feature Importance
0           numerical__Age           -0.507293
1         numerical__SibSp           -0.380020
2         numerical__Parch           -0.012944
3    categorical__Pclass_1            1.088103
4    categorical__Pclass_2           -0.009086
5    categorical__Pclass_3           -1.078974
6  categorical__Sex_female            1.397072
7    categorical__Sex_male           -1.397029